name: Self Hosted Runner

on:
  # Trigger the workflow on push on the main branch
  push:
    branches:
      - main
    paths-ignore:
      - 'CODEOWNERS'
      - '**.md'
      # - '.**'

permissions:
  id-token: write
  contents: read

jobs:
  create_runner:
    name: Create Runner
    runs-on: ubuntu-22.04
    outputs:
      runner_name: ${{ steps.create_github_runner.outputs.runner_name }}
    steps:
      - name: Create GitHub Runner 
        id: create_github_runner
        uses: pagopa/github-self-hosted-runner-azure-create-action@main
        with:
          client_id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          container_app_environment_name: "capp-env-pasq"
          resource_group_name: "pasquale-test"
          pat_token: ${{ secrets.BOT_TOKEN }}

  runner_job:
    name: Runner Job
    runs-on: [self-hosted, "${{ needs.create_runner.outputs.runner_name }}" ]
    needs: create_runner
    
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: 'Run CLI commands on self hosted runner'
        run: |
          echo "hello"
          pwd

  cleanup_runner:
    name: Cleanup Runner
    runs-on: ubuntu-22.04
    needs: [ create_runner, runner_job]
    steps:
      - name: Cleanup GitHub Runner 
        id: cleanup_github_runner
        uses: pagopa/github-self-hosted-runner-azure-cleanup-action@main
        with:
          client_id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resource_group_name: "pasquale-test"
          runner_name: ${{ needs.create_runner.outputs.runner_name }}
          pat_token: ${{ secrets.BOT_TOKEN }}

